button.direct-download {
  z-index: 1 !important;
  position: absolute !important;
  top: 5px !important;
  right: 5px !important;
  padding: 5px !important;
  background-color: #6FD08C !important; 
  color: #fff !important;
  border: none !important;
}

.parent {
  position: relative !important;
  display: inline-block !important;
}